<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tva.how">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/how_app_logo_icon_v4_orange"
        android:label="@string/app_name"
        android:roundIcon="@drawable/how_app_logo_icon_v4_orange"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LearnFirstAidBasicsPageActivity"></activity>
        <activity
            android:name=".HealthCentersActivity"
            android:label="@string/s_seznamZdomov" />
        <activity
            android:name=".LearnFirstAidBasicsActivity"
            android:label="@string/s_ucenjakPrvePomoci" />
        <activity
            android:name=".LoadingScreenActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HospitalsActivity"
            android:label="@string/s_seznamBolnisnic" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/s_novice" />
        <activity
            android:name=".DefibrilatorMapActivity"
            android:label="@string/s_zemljevid" />
        <activity
            android:name=".DefibrilatorAddActivity"
            android:label="@string/s_dodajDefibrilator"
            android:screenOrientation="locked" />
        <activity android:name=".HomeScreenActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/s_prijava"
            android:noHistory="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>