<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tva.how">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- za google maps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- za google maps -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- za google maps -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/how_app_logo_icon_v4_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/how_app_logo_icon_v4_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" /> <!-- za google maps -->
        <!-- za google maps (spodnja vrstica): (odpravitev napake: java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/ProtocolVersion ) -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".LearnFirstAidBasicsPageActivity"
            android:label="@string/s_ucenjakPrvePomoci"
            android:screenOrientation="locked" />
        <activity
            android:name=".HealthCentersActivity"
            android:label="@string/s_seznamZdomov"
            android:screenOrientation="locked" />
        <activity
            android:name=".LearnFirstAidBasicsActivity"
            android:label="@string/s_ucenjakPrvePomoci"
            android:screenOrientation="locked" />
        <activity
            android:name=".LoadingScreenActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HospitalsActivity"
            android:label="@string/s_seznamBolnisnic"
            android:screenOrientation="locked" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/s_novice"
            android:screenOrientation="locked" />
        <activity
            android:name=".MapActivity"
            android:label="@string/s_zemljevid" />
        <activity
            android:name=".DefibrilatorAddActivity"
            android:label="@string/s_dodajDefibrilator"
            android:screenOrientation="locked" />
        <activity
            android:name=".HomeScreenActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/s_prijava"
            android:noHistory="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>